/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;500;600;700;800;900&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");
:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  /* 1 rem 10px */
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
  padding: 0rem 1rem;
}
.w-6 {
  width: 2rem;
  height: 2rem;
}
.h-6 {
  fill: rgb(239, 140, 1);
}
/* navbaar */
.nav {
  width: 100%;
  height: 8rem;
  /* border-bottom: 1px solid var(--colo-dark-2); */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.nav_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_list {
  display: flex;
}
.nav_items {
  display: flex;
}
.nav_logo {
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--colo-dark-1);
}
.nav_item {
  margin: 0rem 0.5rem;
}
.nav_link {
  padding: 0.6rem;
  color: var(--colo-dark-1);
}
.nav_form {
  margin-right: 24px;
  padding: 0.8rem;
  background-color: var(--colo-white-1);
  display: flex;
  align-items: center;
  border: 1px solid #dbdfe3;
  border-radius: 6px;
  width: 208px;
}
.nav_form button {
  border-width: 0;
  background-color: var(--colo-white-1);
}
.nav_input {
  padding: 0.4rem;
  background-color: transparent;
  outline: none;
  border: none;
}
.auth-actions {
  /* display: none;  */
  display: flex;
  gap: 14px;
}
.user-actions {
  /* display: none; */
  display: flex;
  align-items: center;
  gap: 16px;
}
.user-actions-liked {
  margin-left: 24px;
}
.user-actions-info {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
}
.button-4 {
  appearance: none;
  background-color: #fafbfc64;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292e;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #f3f4f6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #fafbfc;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959da5;
  cursor: default;
}

.button-4:active {
  background-color: #edeff2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}

.btn-login {
  appearance: none;
  background-color: #0f7ce8e0;

  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0,
    rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 10px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}
.nav_search {
  cursor: pointer;
}
.nav_items {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav_heart {
  margin-left: 1rem;
  cursor: pointer;
}
.nav_cart {
  margin-left: 1rem;
  cursor: pointer;
}
.thanks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  overflow: hidden;
  height: calc(100vh - 100px);
}
.thanks img{
 width: 50%;
 object-fit: cover;
}
/* header */
.header_container {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
.header_filter {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.header_filter_link {
  color: var(--colo-dark-1);
}
/* ==================== slide top ============== */
.container.slide {
  margin-top: 30px;
  overflow: hidden;
}
.slide-item {
  width: 100%;
  height: 316px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  overflow: hidden;
  background-image: url("../image/bg-slide.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  text-align: left;
}
.slide-item-des {
  color: var(--colo-white-1);
  font-family: "HK Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 100% */
}
.slide-item-heading {
  color: var(--White, #fff);
  font-family: "HK Grotesk";
  font-size: 54px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  /* 100% */
  margin: 20px 0;
}
.slide-item-label {
  color: var(--White, #fff);
  font-family: "HK Grotesk";
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  /* 100% */
}
.swiper-button-wrap {
  display: flex;
  align-items: center;
  gap: 20px;
}
.swiper-button-next,
.swiper-button-prev {
  width: 60px;
  height: 60px;
  border-radius: 100rem;
  background-color: var(--colo-white-1);
  font-size: 10px;
}
.swiper-button-next2,
.swiper-button-prev2,
.swiper-button-next3,
.swiper-button-prev3 {
  width: 40px;
  height: 40px;
  background-color: #dedede;
  position: relative;
}

.swiper-button-next > svg {
  width: 20px;
  height: 20px;
}
.swiper-button-prev > svg {
  width: 20px;
  height: 20px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}
.slide-item img {
  width: 256px;
  object-fit: cover;
}
/* section */
.section {
  margin-top: 26px;
}

/* flash sale */

.section_category_p {
  border-left: 1.4rem solid var(--colo-primary);
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
  color: var(--colo-primary);
  font-size: 1.3rem;
}
.section_header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 4rem;
}
.section_header_left {
  display: flex;
  align-items: center;
}
.section_title {
  margin-right: 78px;
  font-size: 2.6rem;
}
.countdown-container {
  display: flex;
  gap: 16px;
}

.countdown-section {
  text-align: center;
}

.countdown-label {
  font-size: 12px;
  font-weight: 500;
  color: #555;
}

.countdown-value {
  font-size: 36px;
  font-weight: bold;
  color: #333;
}
.separator {
  font-size: 36px;
  font-weight: bold;
  color: #e07575;
  margin: 0 10px;
  line-height: 1;
  /* Align vertically with the numbers */
}
/* swiper slide */
.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 5rem;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* cards */
.card {
  margin-bottom: 5rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 6px;
  overflow: hidden;
  max-width: 254px;
  /* width: 256px; */
}
.card_top {
  width: 100%;
  height: 22rem;
  position: relative;
}
.card_img {
  width: 100%;
  height: 100%;
}
.card_tag {
  position: absolute;
  top: 1rem;
  left: 1rem;
  z-index: 9;
  background-color: var(--colo-primary);
  padding: 0.4rem 0.7rem;
  font-size: 1rem;
  font-weight: 600;
  color: var(--colo-white-1);
  border-radius: 0.5rem;
}
.card_top_icons {
  position: absolute;
  z-index: 9;
  top: 1rem;
  right: 1rem;
}
.card_top_icon {
  width: 3.4rem;
  height: 3.4rem;
  padding: 1rem;
  background-color: var(--colo-white-1);
  border-radius: 10rem;
}
.card_body {
  margin-top: 1rem;
  text-align: left;
  padding: 8px 8px;
  border-top: 1px solid #ccc;
}
.card_title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #000;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card_list_price {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
  font-size: 16px;
}
.card_price {
  color: var(--colo-primary);
}
.card_del {
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  /* 150% */
  text-decoration-line: strikethrough;
  opacity: 0.5;
}
.card_ratings {
  display: flex;
}
.card_stars {
  margin-right: 1rem;
}
.container_btn {
  width: 100%;
  text-align: center;
}
.container_btn_a {
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  padding: 1.6rem 3rem;
  border-radius: 0.5rem;
}

/* categories */
.categories {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 2rem;
}
.category {
  text-align: center;
  padding: 3rem;
  border: 1px solid var(--colo-white-2);
  transition: all 0.3s ease;
  cursor: pointer;
}
.category:hover {
  background-color: var(--colo-primary);
  color: #e1e0e0;
}
.category_icon {
  width: 3.5rem;
  height: auto;
}
.category_name {
  color: #000;
}
/* trending */
.trending-mb {
  margin-top: 40px !important;
  margin-bottom: 40px;
  display: block;
}
.trending {
  background-color: var(--colo-dark-1);
  padding: 6rem 4rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
  align-items: center;
  border-radius: 12px;
}
.trending_img {
  width: 100%;
}
.trending_p {
  color: var(--color-green);
}
.trending_title {
  color: var(--colo-white-1);
  font-size: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.trending_btn {
  background-color: var(--color-green);
  padding: 1rem 2rem;
  color: var(--colo-white-1);
}
.products {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 2rem;
}

/* gallery */
.gallery_item {
  width: 100%;
  position: relative;
}
.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(8, 4vw);
  grid-gap: 1.5rem;
}
.gallery_item {
  width: 100%;
}
.gallery_item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.gallery_item_content {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  z-index: 9;
  width: 70%;
}
.gallery_item_title {
  color: var(--colo-white-1);
  font-size: 2.2rem;
}
.gallery_item_p {
  color: var(--colo-white-1);
  font-size: 1.4rem;
  margin: 1rem 0rem;
}
.gallery_item_link {
  color: var(--colo-white-1);
  text-decoration: underline;
}
.gallery_item_1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 8;
}
.gallery_item_2 {
  grid-column-start: 4;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gallery_item_3 {
  grid-column-start: 4;
  grid-column-end: 6;
  grid-row-start: 4;
  grid-row-end: 8;
}
.gallery_item_4 {
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
  grid-row-end: 8;
}

/* services */
.services_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  grid-gap: 3rem;
}
.service {
  text-align: center;
}
.service_title {
  margin: 1.5rem 0rem;
}
/* footer */
.footer {
  margin-top: 10rem;
  background-color: var(--colo-dark-1);
}
.footer_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 3rem;
  padding: 5rem 0rem;
  color: var(--colo-white-1);
}
.footer_logo {
  font-size: 3rem;
  color: var(--colo-white-1);
  font-weight: 700;
}
.footer_p {
  margin-top: 1.2rem;
}
.footer_item_titl {
  margin-bottom: 1.2rem;
}
.footer_list_item {
  margin: 0.5rem 0rem;
}
.footer_bottom_container {
  width: 100%;
  text-align: center;
}
.footer_copy {
  color: var(--colo-dark-2);
  padding: 1.5rem 0rem;
}

@media only screen and (max-width: 1070px) {
  .header_container {
    flex-direction: column;
  }
  .header_filter {
    display: none;
  }
}
.hamburger {
  display: none;
  cursor: pointer;
}
.hamburger > svg {
  width: 4.5rem;
  height: 4.5rem;
}
@media only screen and (max-width: 800px) {
  .top_nav {
    display: none;
  }
  .nav_list {
    display: none;
  }
  .nav_items {
    display: none;
  }
  .mobile_nav {
    padding: 14px;
  }
  .nav_input {
    width: 100%;
  }
  .user-actions {
    margin: 10px 0;
    justify-content: space-evenly;
  }
  .auth-actions {
    margin-top: 20px;
    justify-content: center;
  }
  .nav_form {
    width: 100%;
  }
  .hamburger {
    display: block;
  }
  .slide-item-des,
  .slide-item-label {
    font-size: 18px;
  }
  .slide-item-heading {
    font-size: 26px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .slide-item img {
    width: 200px;
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 46px;
    height: 46px;
  }
  .section_title {
    font-size: 2.6rem;
    margin-right: 40px;
  }
  .countdown-container {
    gap: 2px;
  }
  .countdown-value {
    font-size: 24px;
  }
}
@media only screen and (max-width: 800px) {
  .gallery {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .slide-item {
    height: 200px;
    justify-content: space-between;
  }
  .slide-item img {
    width: 148px;
  }
  .slide-item-des,
  .slide-item-label {
    font-size: 12px;
  }
  .slide-item-heading {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .section_header {
    flex-wrap: wrap;
  }
  .swiper-button-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin: 35px auto;
    margin-bottom: 0;
  }
  .swiper-button-next2,
  .swiper-button-prev2,
  .swiper-button-next3,
  .swiper-button-prev3 {
    width: 30px;
    height: 30px;
    background-color: #dedede;
    position: relative;
  }
  .swiper-button-next.mobile,
  .swiper-button-prev.mobile {
    display: none;
  }
  .swiper-button-prev > svg,
  .swiper-button-next > svg {
    width: 16px;
    height: 16px;
  }

  .card_top {
    height: fit-content;
  }
  .card_img {
    object-fit: contain;
  }
  .card_body {
    margin-top: 1rem;
    text-align: left;
    padding: 0px 4px;
    padding-bottom: 6px;
  }
  .card_stars svg {
    width: 16px;
    height: 16px;
  }
  .add_to_cart svg {
    width: 28px;
    height: 28px;
  }
  .trending_title {
    font-size: 30px;
  }
  .footer_container {
    padding-left: 18px;
    padding-right: 20px;
  }
  .section_title {
    font-size: 1.6rem;
    margin-right: 20px;
  }

  .countdown-container {
    gap: 0px;
  }

  .countdown-value {
    font-size: 14px;
  }
  .countdown-label {
    font-size: 12px;
  }
  .separator {
    font-size: 16px;
    font-weight: bold;
    color: #e07575;
    margin: 0 6px;
    line-height: 1;
  }
  .footer_logo {
    font-size: 18px;
  }
  .footer_container {
    gap: 14px;
  }
  .footer_item_titl {
    font-size: 16px;
  }
}
/* mobile nav */
.mobile_nav {
  background-color: var(--colo-white-1);
  position: absolute;
  z-index: 99;
  height: 100vh;
  border-right: 1px solid var(--colo-dark-2);
  transition: all 0.5s ease;
}
.mobile_nav_item {
  padding: 2rem 10rem 2rem 5rem;
  border-bottom: 1px solid var(--colo-white-2);
}
.mobile_nav_link {
  color: var(--colo-dark-1);
  padding: 1.2rem 5rem 1.2rem 0rem;
}
.mobile_nav_hide {
  display: none;
}

/* Cart page */
.cart {
  width: 100%;
}
.cart_header {
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}

.cart_item {
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--colo-white-2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1px;
}
.cart_product {
  display: flex;
  flex-direction: column;
}
.cart_img {
  width: 7%;
}
.cart_total {
  margin-top: 2rem;
  text-align: right;
}
.add_to_cart {
  border: 0;
  margin-left: auto;
  display: flex;
  cursor: pointer;
}

/* Authentications */
.auth_container {
  width: 100%;
  display: flex;
  align-items: center;
  height: 90vh;
}
.auth_img {
  width: 50%;
  height: 100%;
}
.auth_img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.auth_content {
  width: 50%;
}

@media only screen and (max-width: 800px) {
  .auth_img {
    display: none;
  }
  .auth_content {
    width: 100%;
  }
}

.auth_content {
  padding: 10rem;
}
.form_title {
  font-size: 3.2rem;
}
.auth_p {
  margin: 2rem 0rem;
}
.form_group {
  width: 100%;
}
.form_input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem 0.6rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--colo-dark-2);
}
.form_pass {
  margin-bottom: 1rem;
}
.password-toggle {
  /* position: relative; */
}

.password-toggle>input {
  position: relative;
}

.eye-toggle {
  position: absolute;
  top: 50%;
  right: 106px;

  cursor: pointer  ;
  z-index: 100;
}
.eye-toggle-signUp {
  top: 45% !important;
}
.form_btn {
  width: 100%;
  padding: 1.3rem;
  background-color: var(--colo-primary);
  color: var(--colo-white-1);
  border: none;
  outline: none;
  margin-bottom: 1.5rem;
}
.form_link {
  color: var(--colo-white-1);
}
.form_group > span {
  margin-top: 2rem;
}
